---
  extends: eslint:recommended
  env:
    node: true
  rules:
    brace-style: [2, '1tbs', { 'allowSingleLine': true }]
    quotes: [2, "single", "avoid-escape"]
    max-len: [2, 120, 4]
    complexity: [2, 8]
    no-use-before-define: [2, 'nofunc']
    no-process-exit: [0]
    no-underscore-dangle: [0]
    no-console: 0
  globals:
    Promise: true
